config mieru 'main'
	option enabled '0'
	option server '12.34.56.78'
	option port '2027'
	option username 'my_username'
	option password 'my_password'
	option protocol 'TCP'
	option socks5_port '1080'
	option mtu '1400'
	option log_level 'ERROR'
	option monitor_interval '10'
	option auto_backup '1'
	option auto_backup_limit '5'
